*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html, body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
.nav-list-links{
  font-size: 20px;
  color:#5d5d5d;
  padding-right: 20px;
}
.main-menu{
  padding-right: 0px;
}
.main-nav{
    display: none;
}
.main-nav ul{
list-style-type: none;
}
#login{
  display: flex;
  justify-content: flex-end;
}
.active ul li{
  padding-bottom: 5px;
  text-align: center;
}
.active ul li a{
  font-size: 2em;
  color: #fff;
}
.active {
  display: block;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #93c458;
  top: 0%;
  width: 100%;
}
.card{
  box-shadow: 0px 0px 5px 0px #f2f2f2;
}
#card{
  display:grid;
  grid-template-columns: repeat(5,1fr);
  grid-gap: 0.5em;
  width:90%;
  margin: auto;
}

.card-heading{
  width:90%;
  margin: auto;
}
.add-btn{
  background-color: #000;
  color: #fff;
  border-radius: 0px;
}
.bgmain-image{
  background: url('images/Group 13.png') no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
  width: 100%;
}
.bg-image{
  background: url('images/bgimg.png') no-repeat;
  background-size: cover;
  background-position:center;
  height: 100vh;
  width: 100%;
}
.bgfooter-img{
  background: url('images/footer.png') no-repeat;
  background-size: cover;
  background-position:right;
  height: 50vh;
  width: 100vw;
}
.explore{
  padding-right: 0px;
  padding-left: 0px;
}
.footer{
  position: relative;
}
.footer::before{
  background:url('images/footer.png') no-repeat;
  content: '';
  right: 0%;
  bottom: -40%;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.8;
  padding: 200px;
}
.basket{
  display: block;
}
.basket-menu{
  display: none;
}
@media screen and (min-width: 992px) {
  .navbar-toggle-btn{
     display: none;
  }
  #close{
    display: none;
  }
  .main-nav ul{
    list-style-type: none;
    display: flex;

  }
  .main-nav ul li a{
    padding-left: 20px;
  }
  .main-nav ul li a{
    text-decoration: none;
  }
  .main-nav{
    display: flex;
    align-items: center;
    background-color: 'none'
  }
  .basket{
    display: none;
  }
  .basket-menu{
    display: block;
  }
}

@media screen and (max-width: 992px) {
  #card{
      display: grid;
      grid-template-columns: repeat(3,1fr);
  }
}
@media screen and (max-width: 768px) {
  #card{
      display: grid;
      grid-template-columns: repeat(2,1fr);
  }
}